# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Variáveis de ambiente / segredos
.env
.env.*

# Spark
spark-warehouse/
metastore_db/
derby.log

# Arquivos temporários
*.tmp
*.temp